@model PickYourOwnAdventure.Models.CharacterImageDirs
@{
    ViewBag.Title = "Adventure";
}

<div class="float-right">
    <section id="character">
        @Html.Partial("_CharacterCreation")
    </section>
</div>
