@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Are YOU ready to Pick Your Own Destiny?</h1>
</div>

<div class="row">
    <div class="col-md-12 charButton" style="text-align:center">
        <button type="button" class="btn btn-default" onclick="location.href = '../Home/Adventure'">Start by Creating a Character!</button>
    </div>
    <div class="col-md-12 charButton" style="text-align:center">
        <button type="button" class="btn btn-default" @Url.Action("Login", "HomeController") disabled>Already have a Character? Login!</button>
    </div>
</div>